* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    height: 100%;
    background-color: hsl(225, 100%, 94%);
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.container {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.summaryContainer {
    width: 450px;
    background-color: #fff;
    border-radius: 1rem;
    color: hsl(223, 47%, 23%);
    margin-bottom: 1rem;
}

.hero {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.priceContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(225, 100%, 98%);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.plan {
    display: flex;
}

.planinfo {
    padding-left: 1rem;
    text-align: center;
}

.btn {
    font-size: 1rem;
    outline: none;
    border: none;
    background: none;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.title {
    padding: 2rem 0 1rem 0;
    font-weight: 900;
}

.text {
    color: hsl(224, 23%, 55%);
    padding-bottom: 1rem;
    font-size: 16px;
}

.changeBtn {
    color: hsl(245, 75%, 52%);
}

.changeBtn:hover {
    color: hsl(224, 23%, 55%);
}

.proceedBtn {
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    margin-bottom: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.proceedBtn:hover {
    background-color: hsl(224, 23%, 55%);
    color: #fff;
}

.cancelBtn {
    margin-bottom: 1rem;
    background-color: hsl(225, 100%, 98%);
    color: hsl(224, 23%, 55%);
}

.cancelBtn:hover {
    background-color: hsl(225, 100%, 98%);
    color: hsl(223, 47%, 23%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}